<%- include('partials/header') -%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inconsolata:wght@300;500&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <h1 class="text-center">release that song!</h1>
    <div class="btn">
      <a href="/login" class="col-3 btn btn-primary"> Login</a>
      <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="wrapper">
      <div class="static-text">
        I am
      </div>
      <ul class="dynamic-text">
        <li><span>a Songwriter</span></li>
        <li><span>a Musician</span></li>
        <li><span>a Singer</span></li>
        <li><span>an Indie Artist</span></li>
      </ul>
    </div>


    <!-- <img src="/imgs/2.png"> -->
  </body>

  </html>



  <%- include('partials/footer') -%>