
<%- include('partials/header') -%>
<head>
  <link rel="stylesheet" href="header.css">
</head>
  <div class="container">


    <div class="page-header text-center">
      <h1>Let's get your song on the moves</h1>
    </div>
    <div class=" style="width: 30%;">
      <a class="btn btn-primary" href="/profile">Return to Dashboard</a>
      <a class="btn btn-primary" href="/songs">Return to Songs</a>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <form action="/post/createSong" enctype="multipart/form-data" method="POST"
          class="row justify-content-center mb-4">
          <div class="col-10 mb-3">
            <label for="songName">Song Name</label>
            <input class="form-control" type="text" placeholder="Enter Song Name" name="songName">
          </div>
          <div class="col-10 mb-3">
            <label for="artistName">Artist Name</label>
            <input class="form-control" type="text" placeholder="Enter Your Artist Name" name="artistName">
          </div>
          <div class="col-10 mb-3">
            <label for="songWriter">Songwriter</label>
            <input class="form-control" type="text" placeholder="Who Wrote This?" name="songWriter">
          </div>
          <div class="col-10 mb-3">
            <label for="producer">Producer</label>
            <input class="form-control" type="text" placeholder="Enter Producer" name="producer">
          </div>
          <div class="col-10 mb-3">
            <label for="dateRelease">When is the world going to hear this?</label>
            <input class="form-control" type="date" placeholder="date" name="dateRelease">
          </div>
          <div class="col-10 mb-3">
            <label for="Roll">Lyrics</label>
            <textarea class="form-control" id="lyrics" rows="5" placeholder="Type your Lyrics" name="lyrics"></textarea>
          </div>
          <div class="col-10 mb-3">
            <label for="imgUpload" class="form-label">Artwork</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <div class="col-8 mb3">
            <button class="btn btn-success add-btn" value="Upload" type="submit">Submit</button>
          </div>
        </form>
      </div>


    </div>

  </div>
  <%- include('partials/footer') -%>